@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}
.container {
  margin: 0px 240px;
}

.row {
  display: flex;
  justify-content: space-between;
}
button {
  padding: 20px 43px;
  border-radius: 8px;
  border: none;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

/* section common */
.title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.description {
  max-width: 594px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 24px 0px;
}

/*  hero section styles */
.hero_area {
  background: rgba(229, 84, 115, 0.1);
}
.hero_area .hero_content {
  margin-top: 190px;
  margin-bottom: 145px;
}

.hero_area .hero_content .hero_title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  max-width: 708px;
}
.hero_area .hero_content .hero_description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0px;
}

.hero_area .hero_img {
  margin-top: 50px;
}

/*  Featured section styles */
.featured {
  text-align: center;
  margin: 100px 0px;
}

.featured .description {
  margin: 24px auto;
}
.featured .featured_content {
  margin-top: 30px;
}
.featured .featured_content .featured_img_1,
.featured_img_2,
.featured_img_3 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.featured .featured_content .featured_img_1 {
  background-color: #a7216226;
}
.featured .featured_content .featured_img_2 {
  background-color: #0597a026;
}
.featured .featured_content .featured_img_3 {
  background-color: #477d1126;
}

.featured .featured_content img {
  width: 314px;
  height: 471px;
  align-self: self-end;
}
.featured .featured_content u {
  color: #272727;
  font-size: 24px;
  font-weight: 800;
  line-height: 35px;
  cursor: pointer;
}

/*  Service section styles */

.service {
  height: 320px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: 0px 174px;
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service .single_service {
  text-align: center;
}
.service .single_service .icon img {
  width: 85px;
  height: 85px;
}
.service .single_service .service_name {
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}

/*  Hot Deal section styles */
.hot_deal {
  height: 620px;
  text-align: center;
  padding: 0px 400px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e554730d;
}

.hot_deal .content .title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.hot_deal .content .title .text_theme {
  color: #e55473;
}
.hot_deal .thimble img {
  width: 318px;
  height: 420px;
}

/* Instagram section style  */

.instagram {
  text-align: center;
  margin-bottom: 100px;
}
.instagram .description {
  margin: 24px auto;
}
.instagram .row {
  margin-top: 42px;
}
.instagram .instagram_img img {
  width: 342px;
  height: 396px;
}
