@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,500;0,600;0,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans 3", sans-serif;
}
.container {
  margin: 0px 240px;
}

.row {
  display: flex;
  justify-content: space-between;
}
button {
  padding: 20px 43px;
  border-radius: 8px;
  border: none;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.text_theme {
  color: #e55473;
}

/* section common */
main {
  text-align: center;
}
.title {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
}
.description {
  max-width: 594px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 24px 0px;
}

/*  hero section styles */
.hero_area {
  background: rgba(229, 84, 115, 0.1);
}
.hero_area .hero_content {
  margin-top: 190px;
  margin-bottom: 145px;
}

.hero_area .hero_content .hero_title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  max-width: 708px;
}
.hero_area .hero_content .hero_description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0px;
}

.hero_area figure {
  margin-top: 50px;
}

/*  Featured section styles */
.featured {
  margin: 100px 0px;
}

.featured .description {
  margin: 24px auto;
}
.featured .featured_content {
  margin-top: 30px;
}
.featured .featured_content .featured_img_1,
.featured_img_2,
.featured_img_3 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.featured .featured_content .featured_img_1 {
  background-color: #a7216226;
}
.featured .featured_content .featured_img_2 {
  background-color: #0597a026;
}
.featured .featured_content .featured_img_3 {
  background-color: #477d1126;
}

.featured .featured_content img {
  width: 314px;
  height: 471px;
  align-self: self-end;
}
.featured .featured_content u {
  color: #272727;
  font-size: 24px;
  font-weight: 800;
  line-height: 35px;
  cursor: pointer;
}

/*  Service section styles */

.service {
  height: 320px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: 0px 174px;
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service .single_service figure img {
  width: 85px;
  height: 85px;
}
.service .single_service .service_name {
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}

/*  Hot Deal section styles */
.hot_deal {
  height: 620px;
  padding: 0px 400px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e554730d;
}

.hot_deal .content .title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.hot_deal .thimble img {
  width: 318px;
  height: 420px;
}

/* Instagram section style  */

.instagram {
  margin-bottom: 100px;
}
.instagram .description {
  margin: 24px auto;
}
.instagram .row {
  margin-top: 42px;
}
.instagram figure img {
  width: 342px;
  height: 396px;
}

/* blog section style  */

.blog {
  margin-bottom: 100px;
  text-align: center;
}
.blog .row {
  margin-top: 40px;
}
.blog .single_blog {
  background-color: #e554730d;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  height: 370px;
}
.blog .single_blog:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 34.31%, #000 100%);
  z-index: 90;
}
.blog .single_blog figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.blog .single_blog figure img {
  width: 400px;
  height: 100%;
  transition: transform 0.7s; /* Animation */
}
.blog .single_blog:hover figure img {
  transform: scale(1.1);
}
.blog .single_blog .blog_details {
  text-align: center;
  padding-bottom: 20px;
  position: absolute;
  color: #ffff;
  z-index: 9999;
  bottom: 0;
  width: 100%;
}
.blog .single_blog .blog_details .categories {
  text-transform: uppercase;
  color: #e55473;
  font-weight: 600;
  font-size: 14px;
}
.blog .single_blog .blog_details .categories span {
  margin: 5px;
  cursor: pointer;
  text-decoration-line: underline;
}
.blog .single_blog .blog_details .blog_title {
  font-size: 20px;
  max-width: 250px;
  margin: 0px auto;
  line-height: 1.4;
  font-weight: 600;
  cursor: pointer;
}
.blog .single_blog .blog_details .posted_on {
  font-size: 18px;
  text-transform: uppercase;
  color: #e554737c;
}

/* Subscribe section style  */
.subscribe {
  padding: 120px 287px;
  background-image: url(./assets/images/Rectangle9.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}
.subscribe .description {
  margin: 24px auto;
}
.subscribe form {
  display: flex;
  justify-content: space-between;
}
.subscribe form input {
  display: block;
  width: 100%;
  border: 1px solid transparent;
  padding: 20px;
  border-radius: 8px;
  font-size: 18px;
  outline: none;
}

.subscribe form button {
  margin-left: 10px;
}

/* footer section style  */

footer {
  padding: 128px 0px;
  text-align: center;
  background-color: #111010;
}
footer .title {
  color: #ffff;
}
footer .description {
  margin: 24px auto;
  color: rgba(255, 255, 255, 0.9);
}
footer p {
  color: rgba(255, 255, 255, 0.4);
}
